{% extends "base.jinja2" %}

{% block title %}Home{% endblock %}


{% block extrastyles %}<link rel="stylesheet" href="{{url_for('home_bp.static', filename='home.css')}}">{% endblock %}

{% block main %}

<div id="maincontainer">

    {% if true %}
    <div class="full box" id="alert"">
        <span>1 NEW SWAP HAS HAPPENED</span>
    </div>
    {% endif %}

    <div class="half box"  id="add">
        <span id="addspan">Add Item +</span>
    </div>
    <div class="half box"  id="viewall">
        <span id="viewallspan">View all Public items</span>
    </div>


    <div class="full box listings">
        <span>Your listed items:</span>
    </div>


    {% for n in range(100) %}
    <div class="half box item">
        <span>Image, id</span>&nbsp;<span>{{ n }}</span>
    </div>
    
{% endfor %}



Your items for swapping: 



</div>

{# <p>Example link - <a href="{{ url_for('account_bp.home') }}">Account</a></p> #}
{% endblock %}
