{% extends "base.jinja2" %}

{# This page is for confirming the swap between people#}

{% block extrastyles %}<link rel="stylesheet" href="{{url_for('swap_bp.static', filename='item.css')}}">{% endblock %}


{% block main %}

    {% if number == 0 %}
        <p> No swaps here. :( </p>
    {% else %}


        <h2>You have {{number}} {{ 'swap' if number==1 else 'swaps' }}!</h2>
        <table>
        {% for item in items %}
            <tr>
                <td> {{ 'OneStatus' if item.status==1 else 'ZeroStatus' }}</td>

                <td><img src="{{ url_for('home_bp.download_file', filename=item.imageofitem) }} " alt="img" width="50%" ></td>

            </tr>
        {% endfor %}
        </table>

    {% endif %}

{% endblock %}
