{% extends "base.jinja2" %}

{# This page is for confirming the swap between people#}

{% block extrastyles %}<link rel="stylesheet" href="{{url_for('swap_bp.static', filename='item.css')}}">{% endblock %}


{% block main %}

    {% if number == 0 %}
        <p> No swaps here. :( </p>
    {% else %}


        <h2>You have {{number}} {{ 'swap' if number==1 else 'swaps' }}!</h2>
        <table style="cursor: pointer;">
        {% for item in items %}
            <tr onclick="window.location.href='{{url_for('swap_bp.swapid', id=item.matchid)}}'">

                <td> <a href="{{url_for('swap_bp.swapid', id=item.matchid)}}" style="text-decoration: none; ">{{ 'Accepted' if item.status==1 else 'Waiting for your approval...' }}</a></td>
                <td><img src="{{ url_for('home_bp.download_file', filename=item.imageofitem) }} " alt="img" height="200px" ></td>


            </tr>
        {% endfor %}
        </table>

    {% endif %}

{% endblock %}
