{% extends "base.jinja2" %}

{# This page is for confirming the swap between people#}

{% block extrastyles %}<link rel="stylesheet" href="{{url_for('swap_bp.static', filename='item.css')}}">{% endblock %}


{% block main %}

<h2>Add item</h2>

<form method="POST" enctype="multipart/form-data">
    <table id="IHave"> 
            <tr> <th>Type of clothing</th> <th>Colour</th> <th>Price Range</th> <th>Condition</th>  <th>Is Cotton</th> <th>Country of Origin</th> <th>Upload Photo</th> </tr>
          <tr id="singleRowIHave" > 
              <td>
                  
                    <select name="type">
                        <option value="tshirt">T-Shirt</option>
                        <option value="shorts">Shorts</option>
                        <option value="dress">Dress</option>
                    </select>
                  
              </td>
  
              <td>
                  
                    <select name="colour">
                        <option value="blue">Blue</option>
                        <option value="yellow">Yellow</option>
                        <option value="orange">Orange</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                    </select>
                  
              </td>
              <td>
                  
                    <select name="pricerange">
                        <option value="1">£</option>
                        <option value="2">££</option>
                        <option value="3">£££</option>
                    </select>
                
              </td>            
  
              <td>
                  
                    <select name="condition">
                        <option value="1">As New</option>
                        <option value="2">Some wear</option>
                        <option value="3">Heavily worn</option>
                    </select>
                  
              </td>
  
              <td>
                <input type="checkbox" name="cotton">
              </td>
  
              <td>
                <input type="text" name="locationmade">
              </td>
  
  
              <td> 
                  <input type="file" name="image">
              </td>
  
          </tr>
      </table>
  
    <input type="submit" value="Submit" class="btn" style="background-color: #f497ec; color: black;  border-color: transparent;">
  </form> 




{% endblock %}
