{% extends "base.jinja2" %}
{% block extrastyles %}<link rel="stylesheet" href="{{url_for('account_bp.static', filename='account.css')}}">{% endblock %}
{% block main %}


<br>
    <div class="centre">
    <form method="POST" style="display:block;">

        <h2 >Login and Start Swapping</h2>

      <input type="text" id="email" name="email" placeholder = "Email Address" required><br>

      <input type="password" id="password" name="password" placeholder = "Password" required><br><br>
  
      <input type="submit" value="Submit">
  </form> 

    </div>

{% endblock %}
