{% extends "base.jinja2" %}
{% block main %}


    <head>
        <meta charset="UTF-8">


        <style>

            input{ /*general input button*/
                padding:10px;
                border:0;
                box-shadow:0 0 15px 4px rgba(12, 12, 12, 0.2);
                border-radius:10px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                box-sizing: border-box;
                
              }

            label{ 
                box-sizing: border-box;
                color: darkgrey;
                margin-left: 20px;
                margin-top: 10px;
            }

            input[type=submit]{ /*green submit button*/
                padding:10px;
                border:0;
                box-shadow:0 0 15px 4px rgba(12, 12, 12, 0.2);
                border-radius:10px;
                width: 100%;
                margin-top: 10px;
                background-color: palegreen;
              }

              .centre{
                vertical-align: middle;
                padding-left: 15%;
                padding-right: 15%;
          }

        </style>
    </head>

<br>
<form method="POST" style="display:block;">
    <div class="centre">

      <input type="text" id="firstName" name="firstName" placeholder = "First Name" required><br>

      <input type="text" id="lastName" name="lastName" placeholder = "Last Name" required><br>

      <input type="text" id="email" name="email" placeholder = "Email Address" required><br>
  
      <input type="password" id="password" name="password" placeholder = "Password" required><br><br>
  
      <input type="submit" value="Submit">

    </div>
  </form> 




{% endblock %}
