div#maincontainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding-top: 25px;

}

div.box {
    outline-offset: -5px;
    box-sizing: border-box;
    padding: 20px
}

div.full {
    width: 95%;
    margin: 1% 2.5%;
}

div.half {
    width: 45%;
    margin: 1% 2.5%;
}

div#alert {
    color: white;
    background-color: rgb(212, 71, 71);
    font-weight: 700;
}

div#add {
    background-image: url("https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");

}


div#request {
    background-image: url("https://images.unsplash.com/photo-1542060748-10c28b62716f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

div.withlink {
    display: flex;
    align-items: center;
    height: 140px;
    justify-content: center;
    filter: grayscale(70%) ; 


}


a.sublink {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

div.item {
    border: 1px solid black;
}

a {
    all: unset;
    cursor: pointer;

}