div#maincontainer{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    box-sizing: border-box;
    
}
div.box{
    background-color: red;
    border: 1px solid black;
    outline-offset: -5px;
    box-sizing: border-box;
    padding: 20px


}
div.full{
    width: 95%;
    margin: 1% 2.5%;
}
div.half{
    width: 45%;
    margin: 1% 2.5%;
}