{% extends "base.jinja2" %}
{% block extrastyles %}<link rel="stylesheet" href="{{url_for('leaderboard_bp.static', filename='lb.css')}}">{% endblock %}

{% block main %}

    <h2> Leaderboard </h2>

    <div class = "center">
        <table class="leaderboard">
        <tr><th>Name</th><th>Score</th></tr>
        {% for item in response %}
            <tr><td>{{item["firstname"]}} {{item["lastname"]}}</td> <td>{{item["points"]}}✰</td></tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
