{% extends "base.jinja2" %}

{% block main %}

    <h2> Leaderboard </h2>

    <div class = "center">
        {% for item in response %}
            <p>{{item["firstname"]}} {{item["lastname"]}} : {{item["points"]}}✰</p>
        {% endfor %}
    </div>
{% endblock %}
