

body{
    background-color: white;
    font-family: sans-serif;
    margin: 0px;
}

nav.navbar{
    vertical-align: middle;
    padding: 8px;
    background-color: #242424;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;
    display: inline-flex;
    flex-direction: row;
    height: 5%;
    color: white;
    align-items: center;
}

nav.navbar a { /* link styling */
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 18px;
    padding-right: 20px;
 }

 nav.navbar a:hover { /* cursor hovering */
    color:rgb(180, 180, 180);
 }

nav.navbar ul{ /* removes syling from list */
    list-style: none;
}

span#title{
    font-size: 25px;
}

div#spacer{
    flex-grow: 1;
}

div#vertSpacer{
    flex-grow: 1;
}

main { /* DONT LIKE THIS - NEED HELP */
    /*display: flex;*/
    text-align:center;
    width:96%;
    flex-direction: column;
    position: absolute;
    /*max-width: 60em;*/
    min-width: 45em;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 1;
    top: 7%;
}


table {
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-collapse:collapse;
}

th,td {
    border-style: solid;
    border-collapse: collapse;    
    padding:10px;
}

/*.customSelect  {
    background-color: blue;

}*/

.flex-outer {
    display: flex;
}
