
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="{{url_for('static', filename='shared.css')}}">
</head>

<body>
I apologise for the background color.<br>
{% block main %}{% endblock %}

</body>
</html>
