
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='shared.css')}}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Swapify</title>

</head>

<body>

    <nav class="navbar">

        <div id="leftnav">
            <span id="title">Swapify</span>
        </div>
        <div id="spacer"></div>
        <div id="right">RIGHT</div>
        <a class="rightlink">login</a>

    </nav>



    {% block main %}{% endblock %}

</body>
</html>
